Repository clemburt/hollywood_pub_sub: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-json-pydantic, run-black, run-isort

validate-json-pydantic:
  name: Validate movie_database.json with Pydantic
  entry: pdm run python scripts/validate_movie_database_json.py
  language: system

run-black:
  name: Format all Python files with black
  entry: pdm run black .
  language: system

run-isort:
  name: Format all Python files with isort
  entry: pdm run isort .
  language: system

Pass hooks
  .github/workflows/.github-ci.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  src/hollywood_pub_sub/movie_database.json
  tests/fixtures/movie_database.json
Due: validate-json-pydantic

Fix clean job needs
  .github/workflows/.github-ci.yml
Due: none

8-rework-docker-ci (#9)
  .github/workflows/.github-ci.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  src/hollywood_pub_sub/movie_database.json
  tests/fixtures/movie_database.json
Due: validate-json-pydantic

deploy: a8e9005b13f0a41f39eec26018229aac9110ffff
  .doctrees/changelog.doctree
  .doctrees/environment.pickle
  .doctrees/readme.doctree
Due: none

Apply ruff
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/source/conf.py
  pdm.lock
  pyproject.toml
  scripts/generate_db_json_file.py
  scripts/validate_movie_database_json.py
  src/hollywood_pub_sub/logger.py
  src/hollywood_pub_sub/main.py
  src/hollywood_pub_sub/movie.py
  src/hollywood_pub_sub/movie_database.py
  src/hollywood_pub_sub/movie_database_factory.py
  src/hollywood_pub_sub/movie_database_from_api.py
  src/hollywood_pub_sub/movie_database_from_json.py
  src/hollywood_pub_sub/publisher.py
  src/hollywood_pub_sub/settings.py
  src/hollywood_pub_sub/subscriber.py
  tests/test_main.py
  tests/test_movie.py
  tests/test_movie_database.py
  tests/test_movie_database_factory.py
  tests/test_movie_database_from_api.py
  tests/test_subscriber.py
Due: run-black, run-isort

deploy: ece2f3b2aca8253e946224faf4a82f67d3a8d47b
  .doctrees/CHANGELOG.doctree
  .doctrees/changelog.doctree
  .doctrees/environment.pickle
  .doctrees/hollywood_pub_sub.doctree
  .doctrees/readme.doctree
  CHANGELOG.html
  _sources/CHANGELOG.md.txt
  changelog.html
  hollywood_pub_sub.html
  searchindex.js
Due: none

Apply entire ruff hooks
  docs/source/conf.py
  scripts/generate_db_json_file.py
  scripts/validate_movie_database_json.py
  src/hollywood_pub_sub/__init__.py
  src/hollywood_pub_sub/logger.py
  src/hollywood_pub_sub/main.py
  src/hollywood_pub_sub/movie.py
  src/hollywood_pub_sub/movie_database.py
  src/hollywood_pub_sub/movie_database_factory.py
  src/hollywood_pub_sub/movie_database_from_api.py
  src/hollywood_pub_sub/movie_database_from_json.py
  src/hollywood_pub_sub/publisher.py
  src/hollywood_pub_sub/settings.py
  src/hollywood_pub_sub/subscriber.py
  tests/__init__.py
  tests/conftest.py
  tests/test_main.py
  tests/test_movie.py
  tests/test_movie_database.py
  tests/test_movie_database_factory.py
  tests/test_movie_database_from_api.py
  tests/test_movie_database_from_json.py
  tests/test_publisher.py
  tests/test_subscriber.py
Due: run-black, run-isort

deploy: 09b52fe7c9589b04bfe751578836e6f9c110f460
  .doctrees/changelog.doctree
  .doctrees/environment.pickle
  .doctrees/hollywood_pub_sub.doctree
  .doctrees/readme.doctree
  genindex.html
  hollywood_pub_sub.html
  modules.html
  objects.inv
  searchindex.js
Due: none

Update changelog
  CHANGELOG.md
  pyproject.toml
Due: none

deploy: 6430f30b4c1578cd57b7991f6274ad24cef04756
  .doctrees/CHANGELOG.doctree
  .doctrees/changelog.doctree
  .doctrees/environment.pickle
  .doctrees/readme.doctree
  CHANGELOG.html
  _sources/CHANGELOG.md.txt
  changelog.html
  searchindex.js
Due: none

10-improve-pre-commit-hooks (#11)
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/source/conf.py
  pdm.lock
  pyproject.toml
  scripts/generate_db_json_file.py
  scripts/validate_movie_database_json.py
  src/hollywood_pub_sub/__init__.py
  src/hollywood_pub_sub/logger.py
  src/hollywood_pub_sub/main.py
  src/hollywood_pub_sub/movie.py
  src/hollywood_pub_sub/movie_database.py
  src/hollywood_pub_sub/movie_database_factory.py
  src/hollywood_pub_sub/movie_database_from_api.py
  src/hollywood_pub_sub/movie_database_from_json.py
  src/hollywood_pub_sub/publisher.py
  src/hollywood_pub_sub/settings.py
  src/hollywood_pub_sub/subscriber.py
  tests/__init__.py
  tests/conftest.py
  tests/test_main.py
  tests/test_movie.py
  tests/test_movie_database.py
  tests/test_movie_database_factory.py
  tests/test_movie_database_from_api.py
  tests/test_movie_database_from_json.py
  tests/test_publisher.py
  tests/test_subscriber.py
Due: run-black, run-isort

deploy: bf6bd9d146d5281b3a416b0ce2bc1e02486e8725
  .doctrees/changelog.doctree
  .doctrees/environment.pickle
  .doctrees/readme.doctree
Due: none

Path conditions:
  validate-json-pydantic: any of: ^src/hollywood_pub_sub/movie_database\.json$
  run-black: any of: \.py$ and \.py$
  run-isort: any of: \.py$ and \.py$
